.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.nav-menu li {
  margin: 5px 10px;
}

.App {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
